<nav>
    <div class="nav_wrapper">
        <a href="#" class="nav__title">University</a>
        <ul class="nav__menu">
            <li><a href="/" class="nav__menu__element">Main</a></li>
            <li><a href="/courses" class="nav__menu__element">Courses</a></li>
            <li><a href="/add" class="nav__menu__element">Add course</a></li>
        </ul>
    </div>
</nav>