<nav>
    <div class="nav_wrapper">
        <a href="#">University</a>
        <ul>
            <li><a href="/">Main</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/add">Add course</a></li>
        </ul>
    </div>
</nav>