<h1>Card</h1>
{{#if courses.length }}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Count</th>
        <th>Actions</th>
      </tr>
    </thead>
  </table>
{{else }}
  <p>Card is empty</p>
{{/if }}
